body {
    background-size:cover;

}
.heading{
    width:80%;
    font-size:30px;
    color:blanchedalmond;
    margin:15px;
    padding:15px;
}
.note{
    width:50%;
    font-size:24px;
    color:rgb(255, 255, 255);
 
    padding:15px;
}
.footer{
    position:fixed;
    bottom:0;

    color:rgb(53, 192, 247);
width:100%;
    text-align:center;
    line-height:4;
    font-size:30px;
    
}
canvas{
    border-radius:10px;
    border:5px solid blanchedalmond;
    
}